gen/
bin/
bin/classes/com/GlassHack/glassroom/MainActivity$ExampleCardScrollAdapter.class
bin/classes/com/GlassHack/glassroom/MainActivity.class
bin/classes/com/GlassHack/glassroom/R$layout.class
bin/classes/com/GlassHack/glassroom/R$string.class
bin/classes/com/GlassHack/glassroom/R$style.class
gen/com/GlassHack/glassroom/R.java
